<div id="left-div" style="background-color:#fafbfc;height:100%;width:32%;float:left">
    <div class="col-md-3" style="width:100%;margin-top:20px;">
        <ul class="list-group">
            <li class="mrg10B">
                <a data-target="#faq-tab-1" data-toggle="tab" class="list-group-item bg-white">
Introduction
<i class="glyph-icon icon-angle-right mrg0A"></i>
</a>
            </li>
            <li class="mrg10B">
                <a data-target="#faq-tab-2" data-toggle="tab" class="list-group-item bg-white">
Getting started
<i class="glyph-icon font-green icon-angle-right mrg0A"></i>
</a>
            </li>
            <li class="mrg10B">
                <a data-target="#faq-tab-3" data-toggle="tab" class="list-group-item bg-white">
Legal Terms
<i class="glyph-icon icon-angle-right mrg0A"></i>
</a>
            </li>
        </ul>
    </div>
</div>

<div id="right-div" style="height:100%;width:68%;float:left;padding-bottom:20px">
    <div class="col-md-9" style="width:100%;margin-top:20px;height:100%">
        <div class="tab-content" style="height:100%">
            <div class="tab-pane fade active in pad0A" id="faq-tab-1" style="height:100%">
                <div class="panel" style="border:none">
                    <div class="panel-body" style="padding:0px">
                        <div class="example-box-wrapper">
                            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                                <ol class="carousel-indicators" style="bottom:-10px;">
                                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel" data-slide-to="1"></li>
                                    <li data-target="#carousel" data-slide-to="2"></li>
                                    <li data-target="#carousel" data-slide-to="3"></li>
                                    <li data-target="#carousel" data-slide-to="4"></li>
                                    <li data-target="#carousel" data-slide-to="5"></li>
                                    <li data-target="#carousel" data-slide-to="6"></li>
                                    <li data-target="#carousel" data-slide-to="7"></li>
                                    <li data-target="#carousel" data-slide-to="8"></li>
                                    <!-- <li data-target="#carousel" data-slide-to="9"></li> -->
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="assets/image-resources/firstUserExperience/first.png" alt="First slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/second.png" alt="Second slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/third.png" alt="Third slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/fourth.png" alt="Fourth slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/fifth.png" alt="Fifth slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/sixth.png" alt="Sixth slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/seventh.png" alt="Seventh slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/eighth.png" alt="Eighth slide">
                                    </div>
                                    <div class="item">
                                        <img src="assets/image-resources/firstUserExperience/ninth.png" alt="Ninth slide">
                                    </div>
                                </div>
                                <a class="left carousel-control" style="background:none" data-target="#carousel" role="button" data-slide="prev">
                                    <span class="glyph-icon icon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" style="background:none" data-target="#carousel" role="button" data-slide="next">
                                    <span class="glyph-icon icon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade pad0A" id="faq-tab-2" style="height:100%">
                <div class="content-box" style="overflow-y:scroll;padding:10px;height:100%;width:100%">
                    <p class="c4"><span class="c3 c2">Getting Started</span></p>
                    <p class="c0"><span class="c1"></span></p>
                    <p class="c4"><span class="c1">A great place to get started is the Actions Tab.</span></p>
                    <p class="c0"><span class="c1"></span></p>
                    <p class="c4"><span class="c1">Here you can define a set of actions that you can use to chat with your users. Actions are predefined messages that you can send your users. In the Actions tab you can do the following:</span></p>
                    <p class="c0"><span class="c1"></span></p>
                    <p class="c4"><span class="c5">Create a group, let&rsquo;s call it , </span><span class="c3 c2">Welcome</span></p>
                    <p class="c4"><span class="c3 c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    <p class="c4 c7"><span class="c2">&nbsp;</span><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 300.50px; height: 89.86px;"><img alt="" src="assets/image-resources/images/image06.png" style="width: 300.50px; height: 89.86px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                    <p
                        class="c0"><span class="c1"></span></p>
                        <p class="c0"><span class="c1"></span></p>
                        <p class="c4"><span class="c5">Next let&rsquo;s create a Text Action let&rsquo;s call it </span><span class="c3 c2">&nbsp;Welcome Greeting.</span></p>
                        <p class="c0"><span class="c3 c2"></span></p>
                        <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 190.00px; height: 142.00px;"><img alt="" src="assets/image-resources/images/image02.png" style="width: 190.00px; height: 142.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>
                            <span
                                style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 409.38px; height: 108.50px;"><img alt="" src="assets/image-resources/images/image08.png" style="width: 409.38px; height: 108.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>
                        </p>
                        <p class="c0"><span class="c1"></span></p>
                        <p class="c4"><span class="c1">Use this Action to greet your users when they first message you. Assign a Shortcut, something you can remember. Shortcuts are a nifty way for you to send a message quickly (more on this later).</span></p>
                        <p class="c4 c8"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 282.50px; height: 381.74px;"><img alt="" src="assets/image-resources/images/image03.png" style="width: 282.50px; height: 381.74px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                        <p
                            class="c0"><span class="c1"></span></p>
                            <p class="c4"><span class="c5">Next let&rsquo;s have a conversation in the </span><span class="c2">Chat tab</span><span class="c1">. </span></p>
                            <p class="c0"><span class="c1"></span></p>
                            <p class="c4"><span class="c5">Here on your left, you will see a panel with a </span><span class="c2">Timeline</span><span class="c5">&nbsp;view (which you can always toggle to a </span><span class="c2">Follower</span><span class="c1">&nbsp;view), in these views you will see the followers who have sent you messages on facebook.</span></p>
                            <p
                                class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 242.65px; height: 259.50px;"><img alt="" src="assets/image-resources/images/image04.png" style="width: 242.65px; height: 259.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>
                                <span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 327.00px; height: 261.50px;"><img alt="" src="assets/image-resources/images/image05.png" style="width: 327.00px; height: 261.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span>
                                    </p>
                                    <p class="c0"><span class="c1"></span></p>
                                    <p class="c4"><span class="c5">On your right is the Chat interface that includes the </span><span class="c2">Conversation widget</span><span class="c5">&nbsp;and the </span><span class="c2">Action Palette</span><span class="c1">. The Conversation Widget is similar to the facebook messenger app, here&#39;s where you exchange messages with your followers.</span></p>
                                    <p
                                        class="c4"><span class="c5">&nbsp;</span><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 331.43px; height: 427.50px;"><img alt="" src="assets/image-resources/images/image01.png" style="width: 331.43px; height: 427.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                                        <p
                                            class="c0"><span class="c1"></span></p>
                                            <p class="c4"><span class="c1">When you receive a message from one of your facebook page followers, you can always respond by sending them a text message. </span></p>
                                            <p class="c0"><span class="c1"></span></p>
                                            <p class="c4"><span class="c1">Alternatively, in the case of our example, you can simply trigger an Action by using a shortcut- &nbsp;in this case &ldquo;//greet&rdquo;. When you type the Action, you will see a toaster pop, tap the paper plane icon or press enter to send. </span></p>
                                            <p
                                                class="c0"><span class="c1"></span></p>
                                                <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 575.00px; height: 244.00px;"><img alt="" src="assets/image-resources/images/image07.png" style="width: 575.00px; height: 244.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                                                <p
                                                    class="c0"><span class="c1"></span></p>
                                                    <p class="c4"><span class="c1">You can also send an Action &nbsp;by tapping on the Action in the Action Palette that&#39;s to the right of the Chat Widget.</span></p>
                                                    <p class="c0"><span class="c1"></span></p>
                                                    <p class="c0"><span class="c1"></span></p>
                                                    <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 258.00px; height: 270.00px;"><img alt="" src="assets/image-resources/images/image00.png" style="width: 258.00px; height: 270.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
                                                    <p
                                                        class="c4"><span class="c1">&nbsp;</span></p>
                                                        <p class="c0"><span class="c1"></span></p>
                                                        <p class="c0"><span class="c1"></span></p>
                                                        <p class="c4"><span class="c1">Its that simple you are now ready to go, next learn about the different action types. </span></p>
                                                        <p class="c0"><span class="c3 c9"></span></p>

                </div>
                <!--   <div class="panel-group" id="accordion1">
<div class="panel">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1">
              Collapsible Group Item #1
          </a>
      </h4>
  </div>
  <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body pad0B">
          <p class="mrg15B">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>

          <p class="mrg15B">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental.</p>
      </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1">
              Collapsible Group Item #2
          </a>
      </h4>
  </div>
  <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body pad0B">
          <p class="mrg15B">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>

          <p class="mrg15B">Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
      </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1">
              Collapsible Group Item #3
          </a>
      </h4>
  </div>
  <div id="collapseThree1" class="panel-collapse collapse">
      <div class="panel-body pad0B">
          <p class="mrg15B">The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.</p>

          <p class="mrg15B">For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>

          <p class="mrg15B">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.</p>
      </div>
  </div>
</div>
</div> -->
            </div>
            <div class="tab-pane fade pad0A" id="faq-tab-3">
                <div class="panel-group" id="accordion2">
                    <div class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne2" data-parent="#accordion2">
                            <h4 class="panel-title">
          <a >
              Terms Of Service
          </a>
      </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <a style="float:left;text-decoration: underline;cursor:pointer" ng-click="openWindow()" style="float:left">Plug Terms of Service</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo2" data-parent="#accordion2">
                            <h4 class="panel-title">
          <a>
              Privacy Policy
          </a>
      </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a ng-click="openWindow2()" style="float:left;text-decoration: underline;cursor:pointer">Privacy Policy Applicable</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
